.row {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 3rem;
	border: 1px solid #e0e0e02e;
	border-radius: 10px;
	padding: 2rem;

	cursor: pointer;
}

.row__ul {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(6, 1fr);
	gap: 2rem;
	width: 100%;
}

.clicked {
	background-color: #e0e0e02e;
}