.header {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;

	top: 0;
	left: 0;

	width: 100vw;
	height: 10rem;
	border-bottom: 1px solid white;

	padding: 0 5rem;
}

.header__text {
	font-size: 20rem;
}

.hidden {
	display: none;
}