.student {
  display: flex;
  gap: 1rem;

  border: 1px solid white;
  border-radius: 10px;
  padding: 2rem;
}

.student__dataList {
  display: flex;
  gap: 1rem;
  width: 100vw;
  justify-content: space-between;
  list-style-type: none;
}

